<h1>New Employee</h1>

<div class="row">
  <div class="col-lg-6">
    <%= render 'form' %>
  </div>
</div>

<%= link_to 'Voltar', employees_path, :class => 'btn btn-default glyphicon glyphicon-arrow-left' %>
