<p id="notice"><%= notice %></p>

<h1>Listing All Equipment</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @listing.each do |listing| %>
      <tr>
        <td><%= listing.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Equipment type', new_equipment_type_path %>
