<h1>Editar Equipamento</h1>

<%= render 'form' %>

<%= link_to 'Show', @equipment, :class => 'btn btn-default glyphicon glyphicon-eye-open' %> |
<%= link_to 'Back', equipment_index_path, :class => 'btn btn-default glyphicon glyphicon-arrow-left' %>
