<div class="row">
  <div class="col-lg-6">
	<h1>Adicionar Equipamento</h1>
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
    <%= render 'form' %>
  </div>
</div>

<%= link_to 'Voltar', equipment_index_path, :class => 'btn btn-default glyphicon glyphicon-arrow-left' %>
