<h1>Editing Xreflending</h1>

<%= render 'form' %>

<%= link_to 'Show', @xreflending, :class => 'btn btn-default glyphicon glyphicon-eye-open' %> |
<%= link_to 'Back', xreflendings_path, :class => 'btn btn-default glyphicon glyphicon-arrow-left' %>
