<h1>Editing Xreflending</h1>

<%= render 'form' %>

<%= link_to 'Visualizar', @xreflending, :class => 'btn btn-default glyphicon glyphicon-eye-open' %>
<%= link_to 'Voltar', xreflendings_path, :class => 'btn btn-default glyphicon glyphicon-arrow-left' %>
