<h1>Editing Equipment Type</h1>

<%= render 'form' %>

<%= link_to 'Visualizar', @equipment_type, :class => 'btn btn-default glyphicon glyphicon-eye-open' %>
<%= link_to 'Voltar', equipment_types_path, :class => 'btn btn-default glyphicon glyphicon-arrow-left' %>
