<p>
  <strong>Nome:</strong>
  <%= @equipment_type ? @equipment_type.name : "N/A" %>
</p>

<%= link_to 'Editar', edit_equipment_type_path(@equipment_type), :class => 'btn btn-default glyphicon glyphicon-pencil' %>
<%= link_to 'Voltar', equipment_types_path, :class => 'btn btn-default glyphicon glyphicon-arrow-left' %>
